In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [["A", ["C"]],
     ["A", ["B", "C"]],
     ["B", ["B"]],
     ["C", ["D", "E", "F"]]],
    columns = ["from", "to"]
).reset_index().rename(columns={'index': 'mid'})
print(df)

   mid from         to
0    0    A        [C]
1    1    A     [B, C]
2    2    B        [B]
3    3    C  [D, E, F]

In [3]:
df['chain'] = df.apply(lambda x: list(x['from']) + x['to'] + list(x['from']), axis=1)
df

   mid from         to            chain
0    0    A        [C]        [A, C, A]
1    1    A     [B, C]     [A, B, C, A]
2    2    B        [B]        [B, B, B]
3    3    C  [D, E, F]  [C, D, E, F, C]

In [4]:
df = df.explode('chain')
df

   mid from         to chain
0    0    A        [C]     A
0    0    A        [C]     C
0    0    A        [C]     A
1    1    A     [B, C]     A
1    1    A     [B, C]     B
1    1    A     [B, C]     C
1    1    A     [B, C]     A
2    2    B        [B]     B
2    2    B        [B]     B
2    2    B        [B]     B
3    3    C  [D, E, F]     C
3    3    C  [D, E, F]     D
3    3    C  [D, E, F]     E
3    3    C  [D, E, F]     F
3    3    C  [D, E, F]     C

df['zorder'] = df['chain'].apply(lambda x: list(range(len(x))))
df = df.drop(['in', 'out'], axis=1).set_index('gid').apply(pd.Series.explode).reset_index()
df

In [5]:
df['end'] = df.groupby("mid")["chain"].shift(-1)
df

   mid from         to chain  end
0    0    A        [C]     A    C
0    0    A        [C]     C    A
0    0    A        [C]     A  NaN
1    1    A     [B, C]     A    B
1    1    A     [B, C]     B    C
1    1    A     [B, C]     C    A
1    1    A     [B, C]     A  NaN
2    2    B        [B]     B    B
2    2    B        [B]     B    B
2    2    B        [B]     B  NaN
3    3    C  [D, E, F]     C    D
3    3    C  [D, E, F]     D    E
3    3    C  [D, E, F]     E    F
3    3    C  [D, E, F]     F    C
3    3    C  [D, E, F]     C  NaN

In [6]:
df = df.dropna(subset=['end']).reset_index(drop=True).reset_index().rename(columns={'index': 'tid'})
df = df.drop(['from', 'to'], axis=1).rename(columns={'chain': 'from', 'end': 'to'})

In [7]:
print(df)

    tid  mid from to
0     0    0    A  C
1     1    0    C  A
2     2    1    A  B
3     3    1    B  C
4     4    1    C  A
5     5    2    B  B
6     6    2    B  B
7     7    3    C  D
8     8    3    D  E
9     9    3    E  F
10   10    3    F  C